

.card-style-onhover{
margin:20px;
width: 175px;
height: 230px;
border: 1px solid powderblue;
box-shadow: 1px 2px 2px powderblue;
padding: 30px;
border-radius:15px ;
}

.dashboardmoviecontainer .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboardmoviecontainer .swiper-pagination-bullet-active{
    padding: 2px;
    background: grey;
}
.card-style-onhover p  {
        visibility: none; 
        opacity: 0;
}
.card-style-onhover h4 {
    visibility: none; 
    opacity: 0;
}
.card-style-onhover:hover{
    font-size: small;
    font-weight: 500;
    color: aliceblue;
    visibility:visible; 
    opacity: 0.7;
    transform: scale(1.1);
    transition-duration: 1s;
   p{ 
    visibility:visible; 
    opacity: 1;
    transform: scale(1.1);
    


   } 
   h4{
    visibility:visible; 
    opacity: 1;
    transform: scale(1.1);


   }
}
.swiper-button-next::after{
    color: white;
}
.swiper-button-prev::after{
    color: white;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal{
    margin-bottom: -14px;
}