.forgot-password-container{

display: grid;
place-items: center;
margin: 50px;
}
.password-card{
   box-shadow: 0.5px 0.1px 1px grey;
}
.password-card h2{
   margin-bottom: 50px;

}
.input-form-first-label{
   margin-bottom: 20px;
}
.buttonsubmitforgotpassword{
   margin-bottom: 30px;
}